/*--------------------------- HTML & Body Setup --------------------------*/
html {
    font-size: 16px;
    background-color: white;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}


/*--------------------------- Header & Navigation ------------------------*/
header {
    width: 98%;
    display: grid;
    grid-template: 5.3125rem / repeat(20 , 5%);
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-bottom: 2px solid black;
    position: fixed;
    padding: 0 1%;
    z-index: 2;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .topnav {
        top: -0.9vw;
        right: 1.5vw;
        overflow: hidden;
        position: fixed;
        z-index: 2;
        height: 72vw;
        width: 50vw;
    }
      
    #spacer {
        height: 11.5vw;
    }

    .topnav #myLinks {
        display: none;
    }

    .topnav #myLinks .color {
        background-color: gray;
        width: 45vw;
        border: 1px solid black;
        border-top: none;
        border-bottom-left-radius: 1vw;
        border-bottom-right-radius: 1vw;
    }

    #myLinks .color a{
        font-family: "Averia Serif Libre";
        font-size: 3.5vw;
    }

    #myLinks a:hover {
        background-color: blue;
        color: white;
    }
      
    .topnav a {
        color: black;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
        z-index: 2;
    }
      
    .topnav a.icon {
        display: block;
        position: absolute;
        z-index: 2;
        right: 0;
        top: 0;
    }
      
    .active {
        display: none;
    }

    header nav {
        display: none;
    }

    header {
        display: grid;
        grid-template: 10vw / repeat(40, 2.5%);
        justify-content: space-between;
        align-items: center;
    }

    header #logo {
        width: 41vw;
        height: 10vw;
    }

    header #logo .text h1 {
        font-size: 4.5vw;
    }

    header #logo .right-pic img {
        width: 10vw;
        height: 10vw;
    }

    header #logo .right-pic { 
        left: 2.5vw;
    }


}

#logo {
    height: 5.3125rem;
    width: 16vw;
    display: inline-flex;
    align-items: center;
    justify-content: start;
    position: relative;
    z-index: 0;
}

#logo .text {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    left: 0.8vw;
}

#logo .text h1 {
    font-family: "Bungee Tint", sans-serif;
    font-weight: 400;
    font-style: bold;
    font-size: 1.5vw;
    margin: 0 auto;
}

#logo .right-pic {
    position: relative;
    left: 1.5vw;
    display: inline-flex;
    align-items: center;
    justify-content: start;
}

#logo .right-pic img {
    width: 4vw;
    height: 4vw;
}

header nav {
    grid-area: 1 / 13 / 2 / span 8;
    text-align: right;
    align-items: center;
    justify-content: center;
}

header nav a {
    text-decoration: none;
    padding-left: 1.4rem;
    /*font-family: "Chakra Petch", sans-serif;*/
    font-family: "Stardos Stencil";
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    font-size: 1.1vw;
    color: black;
}

/*----------------------------------- Welcome ----------------------------------------*/

@media only screen and (min-width:320px) and (max-width:480px) {
    #main #Welcome {
        top: 10vw;
        height: 180vw;
    }

    #main #Welcome .container {
        grid-area: 1 / 1 / span 20 / span 20;
    }

    #main #Welcome .text {
        grid-area: 1 / 1 / span 17 /span 21;
    } 

    #main #Welcome .text2 {
        grid-area: 1 / 1 / span 17 /span 21;
    }
    
    /*
    #main #Welcome .text5 {
        display: inline-flex;
        grid-area: 4 / 10 / span 2 / span 2;
        justify-content: center;
        align-items: center;
    }

    #main #Welcome .text6 {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        grid-area: 7 / 9 / span 2 / span 4;
    }

    #main #Welcome .text7 {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        grid-area: 10 / 10 / span 2 / span 2;
    }

    #main #Welcome .text5 h2 {
        font-family: "Rock Salt";
        font-size: 8vw;
        font-weight: 400;
        font-style: normal;
        color: red;
    }

    #main #Welcome .text6 h2 {
        font-family: "Rock Salt";
        font-size: 8vw;
        font-weight: 400;
        font-style: normal;
        color: red;
    }

    #main #Welcome .text7 h2 {
        font-family: "Rock Salt";
        font-size: 8vw;
        font-weight: 400;
        font-style: normal;
        color: red;
    } */

    #main #Welcome .text3 {
        grid-area: 2 / 1 / span 20 /span 20;
        left: -1vw;
    }

    #main #Welcome .text3 h2 {
        grid-area: 2 / 1 / span 20 /span 20;
        left: -2vw;
        color: red;
    }

    #main #Welcome .text4 {
        grid-area: 2 / 1 / span 20 /span 20;
        left: -1.2vw;
    }

    #main #Welcome .text h2 {
        font-size: 9vw;
        color:red;
    
    }

    #main #Welcome .text2 h2 {
        font-size: 9.17vw;
    
    }

}

#Welcome .text5 {
    display: none;
}

#Welcome .text6 {
    display: none;
}

#Welcome .text7 {
    display: none;
}

#Welcome {
    top: 2.5rem;
    width: 100vw;
    /*height: 61rem;*/
    height: 50vw;
    display: grid;
    /*background-color: whitesmoke;*/
    grid-template: repeat(20, 5%) / repeat(20, 5%);
    position: relative;
    z-index:0;
}

#Welcome .container {
    grid-area: 1 / 2 / span 22 / span 18;
    background-image: url(./Images/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template: repeat(20, 5%) / repeat(20, 5%);
}

#Welcome .text {
    grid-area: 1 / 1 / span 20 /span 21;
    display: grid;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

#Welcome .text2 {
    grid-area: 1 / 1 / span 20 /span 21;
    display: grid;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 0;
}


#Welcome .text h2 {
    color: red;
    font-family: "Rock Salt";
    font-style: normal;
    font-weight: 400;
    font-size: 6vw;

}

#Welcome .text2 h2 {
    color: black;
    font-family: "Rock Salt";
    font-style: normal;
    font-weight: 400;
    font-size: 6.17vw;
}

#Welcome .text3 {
    right: 3.2rem;
    grid-area: 8 / 1 / span 20 /span 21;
    display: grid;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    word-spacing: 5vw;
}

#Welcome .text3 h2 {
    font-family: "Stardos Stencil";
    font-weight: 400;
    font-style: italic;
    color: red;
    font-size: 6vw;
}

#Welcome .text4 {
    right: 3rem;
    grid-area: 8 / 1 / span 20 /span 21;
    display: grid;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 0;
    word-spacing: 5vw;
}

#Welcome .text4 h2 {
    font-family: "Stardos Stencil";
    font-weight: 400;
    font-style: italic;
    color: black;
    font-size: 6vw;
}

/*------------------------------------- About ---------------------*/

@media only screen and (min-width:320px) and (max-width:480px) {
    #main #About {
        top: 10vw;
        height: 180vw;
    }

    #main #About .text {
        grid-area: 21 / 3 / span 15 / span 35;
    }

    #main #About .text2 {
        grid-area: 25 / 3 / span 15 / span 35;
    }

    #main #About .text3 {
        grid-area: 31 / 3 / span 15 / span 35;
    }

    #main #About .text4 {
        grid-area: 37 / 3 / span 2 / span 35;
    }

    #main #About p {
        font-size: 3.5vw;
        line-height: 5vw;
        text-align: justify;
    }

    #main #About .text p::first-letter {
        font-size: 6vw;
        font-style: bold;
        font-weight: 500;
    }

    #main #About .headshot {
        grid-area: 4 / 17 / span 16 / span 7;
        display: grid;
        justify-content: center;
    }
    
    #main #About .headshot img {
        height: 68vw;
        width: 45vw;
        border-radius: 0.5vw;
        border: 2px solid white
    }

}

#About {
    top: 2.5rem;
    width: 100%;
    height: 50vw;
    border-top-style: inset;
    display: grid;
    grid-template: repeat(40, 2.5%) / repeat(40, 2.5%);
    position: relative;
    align-items: start;
    justify-content: space-around;
    background-color: darkmagenta;
}

#About .headshot {
    grid-area: 6 / 4 / span 1 / span 7;
    display: grid;
    justify-content: center;
}

#About .headshot img {
    height: 25vw;
    width: 15vw;
    border-radius: 0.5vw;
    border: 2px solid white
}

#About .text {
    height: 10vw;
    grid-area: 6 / 12 / span 10 / span 29;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 2vw;
    /*border: 2px solid black;*/
    line-height: 3vw;
}

#About .text2 {
    height: 20vw;
    grid-area: 10 / 12 / span 10 / span 29;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 2vw;
    line-height: 3vw;
}

#About .text3 {
    height: 20vw;
    grid-area: 20 / 12 / span 30 / span 29;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 2vw;
    line-height: 3vw;
}

#About .text4 {
    grid-area: 33 / 12 / span 2 / span 5;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 2vw;
    line-height: 3vw;
}


#About .text p::first-letter {
    font-family: "Averia Serif Libre";
    font-size: 3.5vw;
    font-style: normal;
    font-weight: 400;
    color: whitesmoke;
}

#About p {
    font-family: "Averia Serif Libre";
    font-size: 2vw;
    font-style: normal;
    font-weight: 400;
    color: whitesmoke;
    word-spacing: 1vw;
    text-align: left;
}
/*----------------------------------- Portfolio ---------------------------------------*/

#Portfolio {
    top: 2.5rem;
    width: 100%;
    height: 100rem;
    border-top-style: groove;
    display: grid;
    grid-template: repeat(40, 2.5%) / repeat(40, 2.5%);
    position: relative;
    align-items: start;
    justify-content: space-around;
    background-color: lightgrey;

}

#Portfolio .title {
    top: 5rem;
    right: 1.6rem;
    height: 5.4375rem;
    width: 100%;
    display: grid;
    grid-area:  1 / 3 / span 2 / span 38;
    position: relative;
    /*background-color: orange;*/
    align-content: center;
    justify-content: flex-start;
}

#Portfolio h1{
    font-family: "Averia Serif Libre", serif;
    font-weight: 400;
    font-style: bold;
    font-size: 3vw;
    margin: 0 auto;
    border-bottom: 5px black;
    border-bottom-style: groove;
}

#Portfolio .picturesI {
    display:inline-flex;
    flex-wrap: wrap;
    position: relative;
    grid-area: 6 / 1 / span 8 / span 40;
    align-items: flex-start;
    /*border: 3px dotted black;
    background-color: red;*/
    justify-content: space-around;
    
}

#Portfolio .picturesII {
    display:inline-flex;
    flex-wrap: wrap;
    position: relative;
    grid-area: 17 / 1 / span 8 / span 40;
    align-items: flex-start;
    justify-content: space-around;
    /*background-color: purple;*/
}

#Portfolio .picturesIII {
    display:inline-flex;
    flex-wrap: wrap;
    position: relative;
    grid-area: 28 / 1 / span 8 / span 40;
    align-items: flex-start;
    justify-content: space-around;
    /*background-color: cyan;
    border: 2px dotted black;*/
}

#Portfolio .landscape-container {
    display: grid;
    grid-template: repeat(20, 5%) / repeat(20, 5%);
    border: 3px solid black;
    background-color: beige;
    border-radius: 10px;
    height: 20vw;
    width: 29vw;
}

#Portfolio .picture {
    grid-area: 6 / 1 / span 6 / span 21;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    /*background-color: red;*/
}

#Portfolio .caption {
    grid-area: 17 / 1 / span 4 / span 21;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    /*background-color: blue;*/
}

#Portfolio .caption h6 {
    font-family: "Averia Serif Libre", serif;
    font-weight: 400;
    font-style: regular;
    font-size: 1.2vw;
    margin: 0 auto;
    text-align: center;
}

#Portfolio .picture img {
    height: 15.0vw;
    width: 28vw;
    border: 2px solid gray;
    border-style: groove;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    /*background-color: red;*/
}
/*----------------------------------- Services ----------------------------------------*/
#Services {
    top: 2.5rem;
    width: 100%;
    height: 60vw;
    border-top-style: double;
    display: grid;
    grid-template: repeat(20, 5%) / repeat(20, 5%);
    background-color: lightgrey;
    position: relative;
    /*border: 3px solid rgba(139, 87, 17, 0.993);
    border-radius: 1.5rem;*/
    z-index:0;
}

#Services .container {
    grid-area: 1 / 1 / span 20 / span 21;
    /*border-radius: 1.5rem;*/
    background-image: url(Images/Services/background-pic.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /*align-items: center;
    justify-content: center;*/
    display: grid;
    grid-template: repeat(20, 5%) / repeat(20, 5%);
}

#Services .title {
    background-color: gold;
    border: 4px dashed black;
    border-radius: 1rem;
    grid-area: 3 / 1 / span 2 /span 9;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start; 
}

#Services .title h2 {
    font-family: "Permanent Marker";
    font-style: normal;
    font-weight: 400;
    font-size: 5vw;
    margin: 0;
}

#Services .rate {
    grid-area: 3 / 10 / span 2 / span 11;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

#Services .rate h2 {
    font-family: "Permanent Marker";
    color: black;
    font-size: 3vw;
    font-weight: 400;
    font-style: normal;
}

#Services .text {
    grid-area: 6 / 9 / span 16 /span 12;
    display: inline-flex;
    align-items: space-between;
    justify-content: flex-start;
    flex-wrap: wrap;
    position: relative;
}

#Services .text1 {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.5vw;
    border-style: dashed;
    background-color:green;
    height: 6vw;
    width: 100%;
}

#Services .text2 {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.5vw;
    border-style: dashed;
    background-color:purple;
    height: 6vw;
    width: 100%;
}

#Services .text3 {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.5vw;
    border-style: dashed;
    background-color:blue;
    height: 6vw;
    width: 100%;
}

#Services .text4 {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.5vw;
    border-style: dashed;
    background-color:red;
    height: 6vw;
    width: 100%;
}

#Services .text5 {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.5vw;
    border-style: dashed;
    border-color: white;
    background-color:black;
    height: 6vw;
    width: 100%;
}

#Services .text6 {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.5vw;
    border-style: dashed;
    background-color:orangered;
    height: 6vw;
    width: 100%;
}

#Services .text h3 {
    font-family: "Permanent Marker";
    color: white;
    font-size: 2vw;
    font-weight: 400;
    font-style: normal;
    padding-left: 1.2vw;
}

#Services .text img {
    height: 5vw;
    width: 9vw;
    margin-right: 1.2vw;
    border-radius: 5px;
}

/*------------------------ Locations & Hours ----------------------*/
#Locations {
    top: 2.5rem;
    display: grid;
    height: 60vw;
    width: 100%;
    background-image: url(Images/Locations/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-top-style: double;
    grid-template: repeat(40,2.5%) / repeat(40, 2.5%);
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
    border-top-style: groove;
}

#Locations .title {
    grid-area: 5 / 2 / span 2 / span 11;
}

#Locations .title h1 {
    font-family: "Gowun Batang";
    font-weight: 700;
    font-style: bold;
    font-size: 3vw;
    border: 5px;
    border-bottom-style: groove;

}

#Locations .locations {
    grid-area: 6 / 2 / span 15 / span 15;
    height: 10.4vw;
    display: inline-block;
    justify-content: space-between;
    position: relative;
    z-index: 0;
    background-color: whitesmoke;
    opacity: 0.5;
    border-radius: 0.5rem;
}

#Locations .locations2 {
    grid-area: 6 / 2 / span 15 / span 15;
    display: inline-block;
    justify-content: space-between;
    border-style: groove;
    position: relative;
    border-radius: 0.5rem;
}

#Locations .cities {
    height: 50%;
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
}

#Locations .cities h2 {
    margin-bottom: 0;
}

#Locations .state {
    height: 50%;
    width: 100%;
    display: inline-flex;
    align-items: flex-end;
    justify-content: flex-start;
}

#Locations .state h2 {
    margin-top: 0;
    padding-left: 0.5vw;
}

#Locations .locations h2 {
    font-family: "Gowun Batang";
    font-weight: 400;
    font-style: normal;
    font-size: 2.2vw;
}

#Locations .hours {
    grid-area: 18 / 2 / span 15 / span 15;
    height: 12.85vw;
    display: grid;
    position: relative;
    z-index: 0;
    background-color: whitesmoke;
    opacity: 0.5;
    border-radius: 0.5rem;
}

#Locations .hours2 {
    grid-area: 18 / 2 / span 15 / span 15;
    grid-template: repeat(40,2.5%) / repeat(40,2.5%);
    display: grid;
    position: relative;
    z-index: 1;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 1rem;
    border-style: groove;
    border-radius: 0.5rem;
}

#Locations h2 {
    font-family: "Gowun Batang";
    font-weight: 400;
    font-style: bold;
    font-size: 2.2vw;
}

#Locations .week {
    grid-area: 2 / 2 / span 15 / span 35;
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    color: black;
    z-index: 1;
}

#Locations .Saturday {
    grid-area: 15 / 2 / span 15 / span 35;
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    color: black;
    z-index: 1;
}

#Locations .closed {
    right: 4.2vw;
    position: relative;
}

#Locations iframe {
    width: 40vw;
    height: 30vw;
    grid-area: 10 / 23 / span 20 / span 15;
    border-style: groove;
    border-radius: 0.5rem;
}

/*---------------------------- Contact ----------------------------*/

#Contact {
    top: 2.5rem;
    height: 50vw;
    width: 100%;
    display: grid;
    position: relative;
    grid-template: repeat(40,2.5%) /repeat(40,2.5%);
    background-color: tan;
    border-top-style: groove;
}

#Contact .title {
    grid-area: 5 / 2 / span 6 / span 10;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    border: 0.5rem solid black;
}

#Contact .title h1 {
    font-family: "Yellowtail";
    font-weight: 400;
    font-size: 6vw;
    font-style: normal;
    padding-left: 1.5vw;
}

#Contact .email {
    grid-area: 15 / 10 / span 6 / span 20;
    display: inline-flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    border: 3px dashed black;
}

#Contact .phone {
    grid-area: 23 / 10 / span 6 / span 20;
    border: 3px dashed black;
    display: inline-flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
}

#Contact h2 {
    font-family: "Averia Serif Libre";
    font-size: 2.5vw;
    padding: 0 1vw;
}