html {
    font-size: 16px;
    background-color: white;
}

body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

header {
    width: 98%;
    display: grid;
    grid-template: 5.3125rem / repeat(20 , 5%);
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-bottom: 2px solid black;
    position: relative;
    padding: 0 1%;
    z-index: 1;
}

#logo {
    text-align: left;
    grid-area: 1 / 1 / 2 / span 6;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
}

#logo .left-pic img {
    width: 80px;
    height: 80px;
    padding-left: 0;
    padding-right: 10px;
}

#logo .right-pic img {
    width: 80px;
    height: 80px;
    padding-left: 10px;
    padding-right: 0;
}

#logo h1 {
    font-family: "Bungee Tint", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.9rem;
    font-size: 2.2vw;
}

header nav {
    grid-area: 1 / 17 / 2 / span 4;
    text-align: left;
    align-items: center;
}

header nav a {
    text-decoration: none;
    padding-left: 1.4rem;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    font-size: 1.1vw;
    color: black;
}